version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: offwego-redis-prod
    restart: always
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"

  OffWeGo:
    image: navyacs/offwego:latest
    container_name: offwego-prod
    env_file: .env
    restart: always
    expose:
      - "1212"
    depends_on:
      - redis

  nginx:
    image: nginx:alpine
    container_name: offwego-nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro
    depends_on:
      - OffWeGo

  certbot:
    image: certbot/certbot
    container_name: offwego-certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
